201 CURSOR "..\\Assets\\Cursors\\ship-e.cur"
202 CURSOR "..\\Assets\\Cursors\\ship-ene.cur"
203 CURSOR "..\\Assets\\Cursors\\ship-ne.cur"
204 CURSOR "..\\Assets\\Cursors\\ship-nne.cur"
205 CURSOR "..\\Assets\\Cursors\\ship-n.cur"
206 CURSOR "..\\Assets\\Cursors\\ship-nnw.cur"
207 CURSOR "..\\Assets\\Cursors\\ship-nw.cur"
208 CURSOR "..\\Assets\\Cursors\\ship-wnw.cur"
209 CURSOR "..\\Assets\\Cursors\\ship-w.cur"
210 CURSOR "..\\Assets\\Cursors\\ship-wsw.cur"
211 CURSOR "..\\Assets\\Cursors\\ship-sw.cur"
212 CURSOR "..\\Assets\\Cursors\\ship-ssw.cur"
213 CURSOR "..\\Assets\\Cursors\\ship-s.cur"
214 CURSOR "..\\Assets\\Cursors\\ship-sse.cur"
215 CURSOR "..\\Assets\\Cursors\\ship-se.cur"
216 CURSOR "..\\Assets\\Cursors\\ship-ese.cur"
217 CURSOR "..\\Assets\\Cursors\\ship-e-moving.cur"
218 CURSOR "..\\Assets\\Cursors\\ship-ene-moving.cur"
219 CURSOR "..\\Assets\\Cursors\\ship-ne-moving.cur"
220 CURSOR "..\\Assets\\Cursors\\ship-nne-moving.cur"
221 CURSOR "..\\Assets\\Cursors\\ship-n-moving.cur"
222 CURSOR "..\\Assets\\Cursors\\ship-nnw-moving.cur"
223 CURSOR "..\\Assets\\Cursors\\ship-nw-moving.cur"
224 CURSOR "..\\Assets\\Cursors\\ship-wnw-moving.cur"
225 CURSOR "..\\Assets\\Cursors\\ship-w-moving.cur"
226 CURSOR "..\\Assets\\Cursors\\ship-wsw-moving.cur"
227 CURSOR "..\\Assets\\Cursors\\ship-sw-moving.cur"
228 CURSOR "..\\Assets\\Cursors\\ship-ssw-moving.cur"
229 CURSOR "..\\Assets\\Cursors\\ship-s-moving.cur"
230 CURSOR "..\\Assets\\Cursors\\ship-sse-moving.cur"
231 CURSOR "..\\Assets\\Cursors\\ship-se-moving.cur"
232 CURSOR "..\\Assets\\Cursors\\ship-ese-moving.cur"
