201 CURSOR "..\\Assets\\Cursors\\ship-e.cur"
202 CURSOR "..\\Assets\\Cursors\\ship-ene.cur"
203 CURSOR "..\\Assets\\Cursors\\ship-ne.cur"
204 CURSOR "..\\Assets\\Cursors\\ship-nne.cur"
205 CURSOR "..\\Assets\\Cursors\\ship-n.cur"
206 CURSOR "..\\Assets\\Cursors\\ship-nnw.cur"
207 CURSOR "..\\Assets\\Cursors\\ship-nw.cur"
208 CURSOR "..\\Assets\\Cursors\\ship-wnw.cur"
209 CURSOR "..\\Assets\\Cursors\\ship-w.cur"
210 CURSOR "..\\Assets\\Cursors\\ship-wsw.cur"
211 CURSOR "..\\Assets\\Cursors\\ship-sw.cur"
212 CURSOR "..\\Assets\\Cursors\\ship-ssw.cur"
213 CURSOR "..\\Assets\\Cursors\\ship-s.cur"
214 CURSOR "..\\Assets\\Cursors\\ship-sse.cur"
215 CURSOR "..\\Assets\\Cursors\\ship-se.cur"
216 CURSOR "..\\Assets\\Cursors\\ship-ese.cur"
