201 CURSOR "..\\Assets\\Cursors\\ship-e.cur"
202 CURSOR "..\\Assets\\Cursors\\ship-ne.cur"
203 CURSOR "..\\Assets\\Cursors\\ship-n.cur"
204 CURSOR "..\\Assets\\Cursors\\ship-nw.cur"
205 CURSOR "..\\Assets\\Cursors\\ship-w.cur"
206 CURSOR "..\\Assets\\Cursors\\ship-sw.cur"
207 CURSOR "..\\Assets\\Cursors\\ship-s.cur"
208 CURSOR "..\\Assets\\Cursors\\ship-se.cur"
